.parallax-header{
	font-family: 'Lato', sans-serif;
	background: #000;
	background: linear-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.8)
		),
		url(Images/img1.jpg); 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	width: 100;
	height: 100;
}

.header-content{
	padding: 100px 0 150px 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.img2{
	width: 1920px;
	height: 2000px;
}


.container{
	margin-top: -20px;
	background: #fffaf0;
	box-shadow: 0 0 20px -6 rgba(0, 0, 0, 0.2);
}

.content .left{
	padding-top: 20px;
	text-align: justify;
}

.content .right{
	padding-top: 0px;
}

.content .bottom{
	background: #2F4F4F;
	padding: 20px;
}

.primary-color{
	color: #2F4F4F;
	font-family: 'Lato', sans-serif;
}

.p{
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
}